{% extends 'base.html.twig' %}

{% block title %}Facturation{% endblock %}

{% block facturation %}
    {{parent()}}
    <style type="text/css">
        .block_facturation { background-color: #c7c7c7}
    </style>
{% endblock %}

{% block content %}
    <div class="container py-2">
        <h4 class="text-center">Informations Facturation</h4>
        <table class="table table-bordered  table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ facturation.id }}</td>
                </tr>
                <tr>
                    <th>Montant Facture</th>
                    <td>{{ facturation.montantFacture }}</td>
                </tr>
                <tr>
                    <th>Prise En Charge</th>
                    <td>{{ facturation.priseEnCharge ? 'Oui' : 'Non' }}</td>
                </tr>
                <tr>
                    <th>Montant Paye</th>
                    <td>{{ facturation.montantPaye }}</td>
                </tr>
                <tr>
                    <th>Nom Assurance</th>
                    <td>{{ facturation.nomAssurance }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('facturation_edit', {'id': facturation.id}) }}"><button class="btn btn-action">Modifier</button></a>

        {{ include('facturation/_delete_form.html.twig') }}

        {# <a href="{{ path('facturation_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a> #}
        <a href="{{ path('facturation_index') }}" class="d-flex pb-2">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <h6 class="ml-2 text-dark">Back</h6>
        </a>
    </div>
{% endblock %}
