{% extends "_login_template.html.twig" %}

{% block identifiants %}
      <div class="col-12 form-input mt-5">
       
        <form action="{{ path('clinic_login') }}" method="post">
          {% if error %}
            <div class="error alert text-danger font-weight-bold">
              {{ error.messageKey | trans(error.messageData, 'security') }}
            </div>
          {% endif %}
          {# msg flash pwd oublié #}
          {% for message in app.flashes('forget_password') %}
						<div class="alert alert-success" id="forget_password">
							{{ message }}
						</div>
					{% endfor %}
          <!-- email -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                  <span class="input-group-text" id="user-icon"><i class="fa fa-user"></i></span>
              </div>
              <input type="text" name="_username" id="email" class=" form-control" placeholder="email" required value="{{ user }}">
            </div>
          </div>
          <!-- password -->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="_password" id="password" class="form-control" placeholder="Password" required autocomplete="on">
            </div> 
          </div>
          <button class="btn  btn-login mt-4" type="submit"><i class="fa fa-sign-in-alt"></i> Se connecter</button>
        </form>
      </div>
      <div class="col-12 forgot-pwd my-3">
        <a href="{{ path('forgetPWD') }}" class="text-white">Mot de passe oublié?</a>
      </div>
{% endblock %}

