{% extends 'base.html.twig' %}

{% block title %}Modifier Service{% endblock %}

{% block service %}
    {{parent()}}
    <style type="text/css">
        .block_service { background-color: #c7c7c7}
    </style>
{% endblock %}

{% block content %}
    <div class="container py-2">
        <h4 class="text-center mt-2">Modifier Service</h4>

        {{ include('service/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('service/_delete_form.html.twig') }}

        {# <a href="{{ path('service_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a> #}
        <a href="{{ path('service_index') }}" class="d-flex pb-2">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <h6 class="ml-2 text-dark">Back</h6>
        </a>
    </div>
{% endblock %}
