{% extends 'base.html.twig' %}

{% block title %}RendezVous{% endblock %}

{% block rendez_vous %}
    {{parent()}}
    <style type="text/css">
        .block_rendez_vous { background-color: #c7c7c7}
    </style>
{% endblock %}

{% block content %}
    <div class="container py-2">

        <h4 class="text-center">Informations Rendez-Vous</h4>
        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ rendez_vous.id }}</td>
                </tr>
                <tr>
                    <th>Date RV</th>
                    <td>{{ rendez_vous.dateRV ? rendez_vous.dateRV|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ rendez_vous.nomClient }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ rendez_vous.email }}</td>
                </tr>
                
            </tbody>
        </table>

        <a href="{{ path('rendez_vous_edit', {'id': rendez_vous.id}) }}"><button class="btn btn-action">Modifier</button></a>

        {{ include('rendez_vous/_delete_form.html.twig') }}

        {# <a href="{{ path('rendez_vous_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a> #}
        <a href="{{ path('rendez_vous_index') }}" class="d-flex pb-2">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <h6 class="ml-2 text-dark">Back</h6>
        </a>
    </div>
{% endblock %}
