{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block content%}
    
    <div class="container py-2">
        <h4 class="text-center">Informations Consultation</h4>
        
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ consultation.id }}</td>
                </tr>
                <tr>
                    <th>Date Consultation</th>
                    <td>{{ consultation.dateConsultation ? consultation.dateConsultation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Diagnostic</th>
                    <td>{{ consultation.diagnostic }}</td>
                </tr>
                <tr>
                    <th>Prochain Rendez-Vous</th>
                    <td>{{ consultation.prochainRV }}</td>
                </tr>
                <tr>
                    <th>Autre</th>
                    <td>{{ consultation.autre }}</td>
                </tr>
                <tr>
                    <th>Patient</th>
                    <td>{{ consultation.patient }}</td>
                </tr>
                <tr>
                    <th>Rendez-Vous</th>
                    <td>{{ consultation.rendezVous }}</td>
                </tr>
                <tr>
                    <th>Personnel</th>
                    <td>{{ consultation.personnel }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex  align-items-center mb-4">
            <a href="{{ path('consultation_index') }}" class="mr-2"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a>
            {{ include('consultation/_delete_form.html.twig') }}
            <a href="{{ path('consultation_edit', {'id': consultation.id}) }}" class="ml-2"><button class="btn btn-action">Modifier</button></a> 
        </div>
    </div>
{% endblock %}
