{% extends 'base.html.twig' %}

{% block title %}Personnel{% endblock %}

{% block content %}
    <div class="container py-2">
    
        <h4 class="text-center">Informations Personnel</h4>

        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ personnel.id }}</td>
                </tr>
                <tr>
                    <th>Fonction</th>
                    <td>{{ personnel.fonction }}</td>
                </tr>
                <tr>
                    <th>AdressePersonnel</th>
                    <td>{{ personnel.adressePersonnel }}</td>
                </tr>
                <tr>
                    <th>TelephonePersonnel</th>
                    <td>{{ personnel.telephonePersonnel }}</td>
                </tr>
                <tr>
                    <th>NomPersonnel</th>
                    <td>{{ personnel.nomPersonnel }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('personnel_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a>

        <a href="{{ path('personnel_edit', {'id': personnel.id}) }}">Modifier</a>

        {{ include('personnel/_delete_form.html.twig') }}
     </div>
{% endblock %}
