{% extends 'base.html.twig' %}

{% block title %}Dossier Patient{% endblock %}

{% block content %}
    <div class="container py-2">
        <h4 class="text-center">Informations Dossier Patient</h4>

        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ dossier_patient.id }}</td>
                </tr>
                <tr>
                    <th>Nom Patient</th>
                    <td>{{ dossier_patient.patient.nomPatient }}</td>
                </tr>
                <tr>
                    <th>Nom Maladie</th>
                    <td>{{ dossier_patient.nomMaladie }}</td>
                </tr>
                <tr>
                    <th>Antecedant</th>
                    <td>{{ dossier_patient.antecedant }}</td>
                </tr>
            </tbody>
        </table>

        

        <a href="{{ path('dossier_patient_edit', {'id': dossier_patient.id}) }}">
            <button class="btn-action btn">Modifier</button>
        </a>

        {{ include('dossier_patient/_delete_form.html.twig') }}
        {# <a href="{{ path('dossier_patient_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a> #}
        <a href="{{ path('dossier_patient_index') }}" class="d-flex pb-2">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <h6 class="ml-2 text-dark">Back</h6>
        </a>
    </div>
{% endblock %}
