{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block chambre %}
    {{parent()}}
    <style type="text/css">
        .block_chambre { background-color: #c7c7c7}
    </style>
{% endblock %}

{% block content %}
    <div class="container py-2">
        <h4 class="text-center">Informations Chambre</h4>

        <table class="table table-hover table-bordered">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ chambre.id }}</td>
                </tr>
                <tr>
                    <th>Nom Chambre</th>
                    <td>{{ chambre.nomChambre }}</td>
                </tr>
                <tr>
                    <th>Nombre de Place</th>
                    <td>{{ chambre.nbrPlace }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('chambre_edit', {'id': chambre.id}) }}"><button class="btn btn-action">Modifier</button></a>

        {{ include('chambre/_delete_form.html.twig') }}

        {# <a href="{{ path('chambre_index') }}"><i class="fa fa-arrow-left" aria-hidden="true">Back</i></a> #}
        <a href="{{ path('chambre_index') }}" class="d-flex pb-2">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <h6 class="ml-2 text-dark">Back</h6>
        </a>
    </div>
{% endblock %}
