{% extends "_partial.html.twig" %}

{% block body %}
{{dump()}}
	<div
		class="container-fluid py-3 mt-2 bgc-contenu">
		<!-- header -->
		<div class=" d-flex text-white py-2 rounded-lg banner">
			<div class="d-flex col-4 align-items-center pl-0">
				<a href="{{ path('clinic_dashboard') }}"><i class="fas fa-clinic-medical pl-1 pr-2 text-white " data-toggle="tooltip" data-placement="top" title="Retourner à l'accueil"></i></a>
				<span class="font-weight-bold">MaClinique</span>
			</div>
			<div class="d-flex col-4 justify-content-center align-items-center font-weight-bold">Bienvenue, {{ app.user.username }}</span></div>
			<div class="d-flex col-4 float-right justify-content-center align-items-center">
				<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" text-right="">
				<button class="btn" type="submit">
					<i class="fas fa-search" aria-hidden="true"></i>
				</button>
			</div>
		</div>

		{# <div class="row d-flex mt-3"> #}
			{# <div class="col-4 ">
				<div class="list-group" id="list-tab" role="tablist">
				<a class="list-group-item list-group-item-action  profile disabled" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">
					<img src="../images/user-default.jpg" alt="user-img" class="img-fluid rounded-circle p-5">
				</a>
				<a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-user-md"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Consultation</span>
						<span class="col-2 consultation d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>	
				<a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-bed"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Hospitalisation</span>
						<span class="col-2 hospitalisation d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-address-book"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Dossier Patient</span>
						<span class="col-2 dossierPatient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-users"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Patient</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-address-book"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Paramètre</span>
						<span class="col-2 parametre d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				<a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-sign-out-alt"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Se déconnecter</span>
						
						<span class="col-2 d-flex justify-content-center align-items-center"><i class="test fas fa-angle-right"></i></span>
					</div>
				</a>
				</div>
			</div> #}
			{# <div class="col-8 right_content">
				<div class="tab-content" id="nav-tabContent">
				<div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
				<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
				<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
				<div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
				</div>
			</div> #}
		{# </div> #}

		<!-- content -->
		<div
			class="d-flex mt-3 mt-3">
			<!-- left content -->
			{# <div class="col-3 col-md-4 col-lg-3 col-sm-5 pl-0">
				<div class="d-flex flex-column text-white rounded-lg menu">
					
					{% for r in app.user.roles %}
						{{ r }}
					{% endfor %}
					
					<div class="profile">
						<img src="../images/user-default.jpg" alt="user-img" class="img-fluid rounded-circle p-5">
					</div>
					<!-- Consultation -->
					<div class="d-flex border-bottom py-2 ">
						<span class="col-2">
							<i class="fas fa-user-md"></i>
						</span>
						<div class="col-8 font-weight-bold"><span class="d-flex justify-content-center">Consultation</span>
							<div class="my-2" id="operationsConsultation">
								<!-- List group -->
								<div class="list-group" id="myList" role="tablist">
									<a class="list-group-item list-group-item-action active" data-toggle="list" href="#ajouterConsultation" role="tab"><i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>Ajouter</a>
									<a class="list-group-item list-group-item-action" data-toggle="list" href="#listerConsultation" role="tab"><i class="fa fa-list  mr-3" aria-hidden="true"></i>Lister</a>
								</div>
								<!-- <div>
									<i class="fa fa-plus-circle" aria-hidden="true"></i>
									<a href="#block_ajouter" class="text-white">
										Ajouter</a>
								</div>
								<div>
									<i class="fa fa-list" aria-hidden="true"></i>
									<a href="#block_lister" class="text-white">
										Lister</a>
								</div> -->
							</div>
						</div>
						<span class="col-2 consultation">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
					<!-- Hospitalisation -->
					<div class="d-flex border-bottom py-2">
						<span class="col-2">
							<i class="fas fa-bed"></i>
						</span>
						<div class="col-8 font-weight-bold"><span class="d-flex justify-content-center">Hospitalisation</span>
							<div class="my-2" id="operationsHospitalisation">
								<!-- List group -->
								<div class="list-group" id="myList" role="tablist">
									<a class="list-group-item list-group-item-action active" data-toggle="list" href="#ajouterHospitalisation" role="tab"><i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>Ajouter</a>
									<a class="list-group-item list-group-item-action" data-toggle="list" href="#listerHospitalisation" role="tab"><i class="fa fa-list  mr-3" aria-hidden="true"></i>Lister</a>
								</div>
							</div>
						</div>
						<span class="col-2 hospitalisation">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
					<!-- Dossier Patient -->
					<div class="d-flex border-bottom py-2 ">
						<span class="col-2">
							<i class="fas fa-address-book"></i>
						</span>
						<div class="col-8 font-weight-bold"><span class="d-flex justify-content-center">Dossier Patient</span>
							<div class="my-2" id="operationsDossierPatient">
								<!-- List group -->
								<div class="list-group" id="myList" role="tablist">
									<a class="list-group-item list-group-item-action active" data-toggle="list" href="#ajouterDossierPatient" role="tab"><i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>Ajouter</a>
									<a class="list-group-item list-group-item-action" data-toggle="list" href="#listerDossierPatient" role="tab"><i class="fa fa-list  mr-3" aria-hidden="true"></i>Lister</a>
								</div>
							</div>
						</div>
						<span class="col-2 dossierPatient">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
					<!-- Patient -->
					<div class="d-flex border-bottom py-2 ">
						<span class="col-2">
							<i class="fas fa-users"></i>
						</span>
						<div class="col-8 font-weight-bold"><span class="d-flex justify-content-center">Patient</span>
							<div class="my-2" id="operationsPatient">
								<!-- List group -->
								<div class="list-group" id="myList" role="tablist">
									<a class="list-group-item list-group-item-action active" data-toggle="list" href="#ajouterPatient" role="tab"><i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>Ajouter</a>
									<a class="list-group-item list-group-item-action" data-toggle="list" href="#listerPatient" role="tab"><i class="fa fa-list  mr-3" aria-hidden="true"></i>Lister</a>
								</div>
							</div>
						</div>
						<span class="col-2 patient">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
					<!-- Parametres -->
					<div class="d-flex border-bottom py-2 ">
						<span class="col-2">
							<i class="fas fa-cogs"></i>
						</span>
						<div class="col-8 font-weight-bold"><span class="d-flex justify-content-center">Paramètres</span>
							<div class="my-2" id="operationsParametre">
								<!-- List group -->
								<div class="list-group" id="myList" role="tablist">
									<a class="list-group-item list-group-item-action active" data-toggle="list" href="#modifierParametre" role="tab"><i class="fa fa-plus-circle mr-3" aria-hidden="true"></i>Modifier Profile</a>
								</div>
							</div>
						</div>
						<span class="col-2 parametre">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
					<!-- connexion -->
					<div class="d-flex py-2">
						<span class="col-2">
							<i class="fas fa-sign-out-alt"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold"><a href="{{ path('clinic_logout') }}">Se déconnecter</a></span>
						<span class="col-2"></span>
					</div>
				</div>
			</div> #}
			<div class="list-group col-3 ">
				{# profile #}
				<a class="list-group-item list-group-item-action active"  href="#" >
					<img src="{{asset('/images/user-default.jpg')}}" alt="user-img" class="img-fluid rounded-circle p-5">
				</a>
				{# consultation #}
				<a class="list-group-item list-group-item-action" href="{{ path('consultation_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-user-md"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Consultation</span>
						<span class="col-2 consultation d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>	
				{# hospitalisation #}
				<a class="list-group-item list-group-item-action" href="{{ path('hospitalisation_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-bed"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Hospitalisation</span>
						<span class="col-2 hospitalisation d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# dossier patient #}
				<a class="list-group-item list-group-item-action" href="{{ path('dossier_patient_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-address-book"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Dossier Patient</span>
						<span class="col-2 dossierPatient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# patient #}
				<a class="list-group-item list-group-item-action" href="{{ path('patient_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-users"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Patient</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# personnel #}
				<a class="list-group-item list-group-item-action" href="{{ path('personnel_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-users"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Personnels</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# service  #}
				<a class="list-group-item list-group-item-action" href="{{ path('service_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-users"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Services</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# chambre #}
				{% for role in  app.user.roles %}
					{% if role =="Admin" %}
						<a class="list-group-item list-group-item-action" href="{{ path('chambre_index') }}">
							<div class="d-flex">
								<span class="col-2">
									<i class="fa fa-bed"></i>
								</span>
								<span class="col-8 d-flex justify-content-center font-weight-bold">Chambre</span>
								<span class="col-2 patient d-flex justify-content-center align-items-center">
									<i class="test fas fa-angle-right"></i>
								</span>
							</div>
						</a>
					{% endif %}
				{% endfor %}
				
				{# rendez-vous  #}
				<a class="list-group-item list-group-item-action" href="{{ path('rendez_vous_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-calendar"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Rendez-vous</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# facturation #}
				<a class="list-group-item list-group-item-action" href="{{ path('facturation_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-calendar"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Facturation</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# parametre #}
				<a class="list-group-item list-group-item-action" href="#list-settings">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-address-book"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Paramètre</span>
						<span class="col-2 parametre d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# deconnection #}
				<a class="list-group-item list-group-item-action" href="{{path('clinic_logout')}}" data-toggle="tooltip" data-placement="top" title="Cliquez pour vous déconnectez">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-sign-out-alt"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Se déconnecter</span>
						
						<span class="col-2 d-flex justify-content-center align-items-center"><i class="test fas fa-angle-right"></i></span>
					</div>
				</a>
				</div>
			<!-- right content -->
			
				<div class="col-9  px-0 right_content rounded">
				<div class="m-2 bg-white">
					{# <div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade active" id="ajouterConsultation" role="tabpanel" aria-labelledby="list-ajouter-list">Ajouter consultation</div>
						<div class="tab-pane fade " id="listerConsultation" role="tabpanel" aria-labelledby="list-lister-list">Liste consultationr</div>
						<div class="tab-pane fade" id="ajouterHospitalisation" role="tabpanel" aria-labelledby="form-hospitalisation">ajouter Hospitalisation</div>
						<div class="tab-pane fade" id="listerHospitalisation" role="tabpanel" aria-labelledby="list-settings-list">lister Hospitalisation</div>
						<div class="tab-pane fade" id="ajouterDossierPatient" role="tabpanel" aria-labelledby="list-messages-list">ajouter DossierPatient</div>
						<div class="tab-pane fade" id="listerDossierPatient" role="tabpanel" aria-labelledby="list-settings-list">lister DossierPatient</div>
						<div class="tab-pane fade" id="ajouterPatient" role="tabpanel" aria-labelledby="list-messages-list">s</div>
						<div class="tab-pane fade" id="listerPatient" role="tabpanel" aria-labelledby="list-settings-list">
						{# {{ render(controller('App\\Controller\\PatientController::index'))  }} #}
						
						{# <div class="afficher">{% include "patient/index.html.twig" %}</div> #}
					
						{# </div>
						<div class="tab-pane fade" id="modifierParametre" role="tabpanel" aria-labelledby="list-settings-list">modifier Parametre</div> #}
					{# </div>  #}
				{% block content %}
					<div class="">
						{# <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="form-consultation">Consultation</div>
						<div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="form-consultation">Hospitalisation</div>
						<div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="form-hospitalisation">Dossier patient</div>
						<div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Patient</div> #}
					</div>
				{% endblock %}
				</div>
			</div>
			
		</div>
		
		

		<div class="d-flex text-white py-2 mt-3 pl-3 rounded-lg footer font-weight-bold">
			Copyright © Saly6C 2019, All rights reserved
		</div>
	</div>

{% endblock %}
