{% extends "_partial.html.twig" %}

{% block body %}
{{dump()}}
	<div
		class="container-fluid py-3 mt-2 bgc-contenu">
		<!-- header -->
		<div class=" d-flex text-white py-2 rounded-lg banner">
			<div class="d-flex col-4 align-items-center pl-0">
				<a href="{{ path('clinic_dashboard') }}"><i class="fas fa-clinic-medical pl-1 pr-2 text-white " data-toggle="tooltip" data-placement="top" title="Retourner à l'accueil"></i></a>
				<span class="font-weight-bold">MaClinique</span>
			</div>
			<div class="d-flex col-4 justify-content-center align-items-center font-weight-bold">Bienvenue, {{ app.user.username }}</span></div>
			<div class="d-flex col-4 float-right justify-content-center align-items-center">
				<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" id="rechercher">
				<button class="btn" type="submit">
					<i class="fas fa-search" aria-hidden="true"></i>
				</button>
			</div>
		</div>

		<!-- content -->
		<div
			class="d-flex mt-3 mt-3">
			<!-- left content -->
			<div class="list-group col-3 ">
				{# profile #}
				<a class="list-group-item list-group-item-action active"  href="#" >
					<img src="{{asset('/images/user-default.jpg')}}" alt="user-img" class="img-fluid rounded-circle p-5">
				</a>
				{# consultation #}
				<a class="list-group-item list-group-item-action" href="{{ path('consultation_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-user-md"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Consultation</span>
						<span class="col-2 consultation d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>	
				{# hospitalisation #}
				<a class="list-group-item list-group-item-action" href="{{ path('hospitalisation_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-procedures"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Hospitalisation</span>
						<span class="col-2 hospitalisation d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# dossier patient #}
				<a class="list-group-item list-group-item-action" href="{{ path('dossier_patient_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-address-book"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Dossier Patient</span>
						<span class="col-2 dossierPatient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# patient #}
				<a class="list-group-item list-group-item-action" href="{{ path('patient_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-user-injured"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Patient</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# controle visiblite personnel, service, chambre #}
				{# {% for role in  app.user.roles %}
					{% if role =="Admin" %} #}
						{# personnel #}
						<a class="list-group-item list-group-item-action" href="{{ path('personnel_index') }}">
							<div class="d-flex">
								<span class="col-2">
									<i class="fas fa-users"></i>
								</span>
								<span class="col-8 d-flex justify-content-center font-weight-bold">Personnels</span>
								<span class="col-2 patient d-flex justify-content-center align-items-center">
									<i class="test fas fa-angle-right"></i>
								</span>
							</div>
						</a>
						{# service  #}
						<a class="list-group-item list-group-item-action" href="{{ path('service_index') }}">
							<div class="d-flex">
								<span class="col-2">
									<i class="fas fa-building"></i>
								</span>
								<span class="col-8 d-flex justify-content-center font-weight-bold">Services</span>
								<span class="col-2 patient d-flex justify-content-center align-items-center">
									<i class="test fas fa-angle-right"></i>
								</span>
							</div>
						</a>
						{# chambre #}
						<a class="list-group-item list-group-item-action" href="{{ path('chambre_index') }}">
							<div class="d-flex">
								<span class="col-2">
									<i class="fa fa-bed"></i>
								</span>
								<span class="col-8 d-flex justify-content-center font-weight-bold">Chambre</span>
								<span class="col-2 patient d-flex justify-content-center align-items-center">
									<i class="test fas fa-angle-right"></i>
								</span>
							</div>
						</a>
					{# {% endif %}
				{% endfor %} #}
				
				{# rendez-vous  #}
				<a class="list-group-item list-group-item-action" href="{{ path('rendez_vous_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-calendar"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Rendez-vous</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# facturation #}
				<a class="list-group-item list-group-item-action" href="{{ path('facturation_index') }}">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-hand-holding-usd"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Facturation</span>
						<span class="col-2 patient d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# parametre #}
				<a class="list-group-item list-group-item-action" href="#list-settings">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-cogs"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Paramètre</span>
						<span class="col-2 parametre d-flex justify-content-center align-items-center">
							<i class="test fas fa-angle-right"></i>
						</span>
					</div>
				</a>
				{# deconnection #}
				<a class="list-group-item list-group-item-action" href="{{path('clinic_logout')}}" data-toggle="tooltip" data-placement="top" title="Cliquez pour vous déconnectez">
					<div class="d-flex">
						<span class="col-2">
							<i class="fas fa-sign-out-alt"></i>
						</span>
						<span class="col-8 d-flex justify-content-center font-weight-bold">Se déconnecter</span>
						
						<span class="col-2 d-flex justify-content-center align-items-center"><i class="test fas fa-angle-right"></i></span>
					</div>
				</a>
				</div>
			<!-- right content -->
			<div class="col-9  px-0 right_content rounded">
				<div class="m-2 bg-white">
					{% for message in app.flashes('success') %}
						<div class="alert alert-success">
							{{ message }}
						</div>
					{% endfor %}
					{% block content %}
						<div class="">
							
						</div>
					{% endblock %}
				</div>
			</div>
		</div>

		{# footer #}
		<div class="d-flex text-white py-2 mt-3 pl-3 rounded-lg footer font-weight-bold">
			Copyright © Saly6C 2019, All rights reserved
		</div>
	</div>

{% endblock %}
