{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block users %}
    {{parent()}}
    <style type="text/css">
        .block_users { background-color: #c7c7c7}
    </style>
{% endblock %}

{% block content %}
{# {{dump()}} #}
    <div class="container">
        <h4 class="text-center py-2">Modifier utilisateur</h4>

        {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

        {{ include('user/_delete_form.html.twig') }}

        <a href="{{ path('user_index') }}" class="d-flex pb-2">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <h6 class="ml-2 text-dark">Back</h6>
        </a>
    </div>
{% endblock %}
